html,
body,
#root {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

body {
  background-color: #18222d;
  font-family: 'Lucida Grande', sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}
