.contacts__person {
  height: 50px;
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #213040;
}

.contacts__person__picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: linear-gradient(#9be0ff, #6cc2fe);
  text-transform: uppercase;
  margin: 0 12px;
}

.contacts__person__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.contacts__person__details__name {
}
.contacts__person__details__last-activity {
  font-size: 12px;
  color: #b1c3d5;
}
